//@import '../../style/variables.scss';

.app {
    background-color:' #12847A';
    &__header {
        display: flex;
        justify-content: space-around;
        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    }
    &__title {
        font-weight: bold;
        font-size: 28px;
        line-height: 37px;
        span {
            //color: $main-color;
        }
    }
    &__menu {
        ul {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            li {
                margin: 0 8px;
                a:hover {
                    //color: $main-color;
                }
            }
        }
    }
    &_search-panel{
        margin-top: 30px;
        padding: 25px;
        background-color: #3d5a80;
        border-radius: 4px;
        box-shadow: 15px 15px 30px rgba(0, 0, 0, .15);
        color: #fff;
    }
    &_search-input{
        box-sizing: border-box;

        position: absolute;
        width: 410px;
        height: 45px;
        left: calc(50% - 410px/2 - 352px);
        top: calc(50% - 45px/2 - 942.5px);

        border: 2px solid #000000;
        border-radius: 5px;
    }
}