//@import '../../style/variables.scss';

.app {
    background-color:#12847A;
    &__header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    }
    &__title {
        font-weight: bold;
        font-size: 28px;
        line-height: 37px;
        span {
            //color: $main-color;
        }
    }
    &__menu {
        ul {
            display: flex;
            justify-content: space-between;

            li {
                margin: 0 8px;
                border: 2px solid #000000;
                border-radius: 5px;

                padding: 6px 10px 6px 10px;

                a{
                    //color:aliceblue;

                    color: #000000;
                }
                a:hover {
                    color: #C7AA7F;
                }
            }
        }
    }
    &_search-panel{
        margin-top: 30px;
        padding: 25px;
        box-shadow: 15px 15px 30px rgba(0, 0, 0, .15);

        border: 2px solid #000000;
        border-radius: 5px;
    }
    &_search-input{

        box-sizing: border-box;

        position: absolute;
        width: 410px;
        height: 45px;
        left: calc(50% - 410px/2 - 352px);
        top: calc(50% - 45px/2 - 942.5px);

        background-color:#12847A;
        border: 2px solid #000000;
        border-radius: 5px;
    }
}